html
  head
    title Clean character count
    link(rel='stylesheet', href='style.css')
    script.
      function count_it() {
        var count = document.getElementById('text').value.length;
        document.getElementById('counter').innerHTML = count;
        document.getElementById('tweet').innerHTML = 140 - count;
        if (140 - count < 0) {
          document.getElementById('tweet').style.color = 'red';
        }
        else {
          document.getElementById('tweet').style.color = 'black';
        }
        document.getElementById('adwords-hl').innerHTML = 25 - count;
        if (25 - count < 0) {
          document.getElementById('adwords-hl').style.color = 'red';
        }
        else {
          document.getElementById('adwords-hl').style.color = 'black';
        }
        document.getElementById('adwords-dl').innerHTML = 35 - count;
        if (35 - count < 0) {
          document.getElementById('adwords-dl').style.color = 'red';
        }
        else {
          document.getElementById('adwords-dl').style.color = 'black';
        }
      }
      //- count_it();
  body
    .wrap
      .header
        h1 Clean character count
      .body
        textarea#text(onKeyUp="count_it()")
        p Characters used: <span id='counter'></span>

        p A tweet can be 140 characters long. <span id='tweet'></span> characters left.
        p An AdWords headline can be 25 characters long. <span id='adwords-hl'></span> characters left.
        p An AdWords description line can be 35 characters long. <span id='adwords-dl'></span> characters left.
