bc = #ffffff
tbbg = #000000

body
  margin 0
  font-family 'Helvetica'
  background-color bc
  color #444

.wrap
  background-color bc

.header
  padding 2px 10px
  color #fff
  font-size 13px
  text-align center
  background-color tbbg
  border-bottom 1px solid darken(tbbg, 30%)
  text-shadow 0px -1px 0px darken(tbbg, 30%)

.body
  padding 20px
  text-align center

textarea
  font-size 12px
  width 600px
  height 200px
