html
  head
    title Clean character count
    link(rel='stylesheet', href='style.css')
  body
    .wrap
      .header
        h1 Clean character count
      .body
        h2 #{word} is #{length} characters long
